<div class="col s12 m4 hide-on-med-and-up" onclick="responsiveVoice.speak('')">
  <div class="center-align"><img src="/img/title.png" width="100%"></div>
  <div class="center-align"><img src="/img/logo.png" width="100%"></div>
</div>


<div class="row valign-wrapper" onclick="responsiveVoice.speak('')">
  <div class="col s12 m2 l2 hide-on-small-and-down">
    <div class="center-align"><img src="/img/title.png" width="100%"></div>
    <div class="center-align"><img src="/img/logo.png" width="100%"></div>
  </div>
  <div class="col s12 m8 valign">
    <h5 class="center-align">Say "Alexa, reMINDer, what are my reminders?"</h5>
  </div>

</div>

<!-- onclick="responsiveVoice.speak('')" -->
<ul class="collapsible" data-collapsible="accordion" id="list">
  {{#each list}}
      <li id="{{this._id}}">
        <div class="collapsible-header">
          {{#if this.done}}
            <input type="checkbox" id="{{this._id}}" checked="checked">
            <label for="{{this._id}}" onclick="update('{{this._id}}', {{this.done}})"></label>
            <strike>{{this.title}}</strike>
          {{else}}
            <input type="checkbox" id="{{this._id}}">
            <label for="{{this._id}}" onclick="update('{{this._id}}', {{this.done}})"></label>
            {{this.title}}
          {{/if}}
        </div>
        <div class="collapsible-body"><p>{{this.description}}</p></div>
      </li>
  {{/each}}
</ul>


<script src='/js/responsivevoice.js'></script>

<script>
  var socket = io.connect("https://cryptic-sea-98015.herokuapp.com/");
  socket.on('reminderpatient', function(data){
    console.log(data.title);

    //create list item to add
    var htmlstring = '<li id="'+data.id+'">';
    htmlstring +=   '<div class="collapsible-header">';
    htmlstring +=       '<input type="checkbox" id="'+data.id+'checkbox">';
    htmlstring +=       '<label for="'+data.id+'checkbox" onclick="update(\''+data.id+'\', false)"></label>';
    htmlstring +=       data.title;
    htmlstring +=    '</div>';
    htmlstring +=    '<div class="collapsible-body"><p>'+data.description+'</p></div>';
    htmlstring += '</li>';

    //append list item to page
    var li = $(htmlstring);
    $('#list').append(li);

    //speak to alexa - onend is callback function
    responsiveVoice.speak("you have a new reminder, "+data.title, "UK English Female", {rate: 0.9, onend:
      function(){
        responsiveVoice.speak("Alexa, ask reminder what are my reminders?", "UK English Female", {rate: 0.9, onend: function(){
          //location.reload(true)
        }})
      }});
  });
//  var socket = io.connect("https://cryptic-sea-98015.herokuapp.com/");
  socket.on('patientDeleted', function(data){
    console.log('deleting item!');
    console.log(data.title);
    responsiveVoice.speak("Item "+data.title+', has been deleted!', "UK English Female", {rate: 0.8});
    responsiveVoice.speak("Alexa, ask reminder what are my reminders?", "UK English Female", {rate: 0.8});
    $(data.id).remove();
  });

  socket.on('itemToggled', function(data){
    console.log('item toggled');
    location.reload(true);
  });

</script>
